/*Style Globale*/
*{
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur */
}

/* Style de base pour le corps du site */
body {
  padding: 0;
  margin: 0;  /* equilibre la marge de chaque coté des blocs */
  font-family: 'learning_curve_dashed_proRg'; /* Style écriture utilisées */
  height: 100vh;
  overflow-x: hidden ;
  box-sizing: border-box;
}
/* Style pour le logo */
.logo {
  width: 200px;
  /* Largeur fixe */
  height: 148px;
  /* Hauteur fixe */
  margin: 15px;
  /* Marge autour du logo */
}

/*Fin Style Globale*/


/*Base Page*/

header {
  height: 10%;
  width: 100%;
  background-color: #e5d0ac;
  align-items: center;
  display: flex;
  justify-content: space-between;
  }

.nomUtilisateur{
  margin-right: 15px;
  /*color:  ;
  font-size: 80%;*/
}

.centrePage {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 90%;
}

.colonneGauche {
  background-color: #1c2333;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.CheminAcces{
  width: 100%;
  height: 100%;
  color:white;
  padding: 20px 20px 0;
}

.info{
  padding: 0 20px 20px;
}

.texteHyperlien{
  color: #ffffff;
}

.texteHyperlien:hover{
  color: #19c0e6;
}

.texteHyperlien:visited{
  color: #ffffff;
}

main {
  box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur/hauteur */
  padding: 30px 10%; /* Padding que vous voulez ajouter */
  background: #ffffff;
  width: 100%;
  flex: 1; /* Fait en sorte que main occupe l'espace restant de .centrePage */
  overflow-y: auto;
}

.interieurColonneDroite{
  padding: 25px;
}
/*Fin Base Page*/


/*page connexion*/
.placementConnexion{
  background: linear-gradient(-45deg, #19c0e6, #ffffff);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.align {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #0056b3;
}

/*fin page connexion*/

/*debut calendrier*/
main input[type="date"] {
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 16px;
}
main input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../img/calendar_icon.png') no-repeat;
    background-size: contain; /* Adapter l'image */
    width: 20px;
    height: 20px;
    border-width: thin;
}


main input[type="time"] {
  padding: 10px;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 16px;
}
main input[type="time"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('../img/calendar_icon.png') no-repeat;
    background-size: contain; /* Adapter l'image */
    width: 20px;
    height: 20px;
    border-width: thin;
}
/*fin calendrier*/

li{
  list-style: none;
  line-height: 1.5;
  
}

li a{
  color: white;
  text-decoration: none;
}

ul{
  padding: 0;
}